.meme {
  position: relative;
  display: inline-block;

  .meme--image {
    width: 100%;
    height: auto;
  }

  .meme--text {
    position: absolute;
    width: 100%;
    color: white;
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

    &.top {
      margin-left: 1em;
      top: 10%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &.bottom {
      bottom: 10%;
      margin-right: 1em;
      left: 100%;
      transform: translate(-50%, -50%);
    }
  }
}